/*
            Paleta de colores

    - #2b2d42
    - #92dce5
    - #f8f7f9
    - #f7ec59
    - #ff66d8

    https://coolors.co/2b2d42-92dce5-f8f7f9-f7ec59-ff66d8
*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #2b2d42; }

a {
  color: inherit; }

h1 {
  color: #f8f7f9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 500; }

h2 {
  color: #f8f7f9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 26px;
  font-weight: 400; }

h3 {
  color: #f8f7f9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  font-weight: 400; }

.navbar--cool-font {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px; }

.mainGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "header header header header header header" "main main main main main main" "main main main main main main" "main main main main main main" "footer footer footer footer footer footer "; }

.form-container {
  background-color: #f8f7f9;
  font-family: "Source Sans Pro", sans-serif;
  color: #2b2d42; }

.upload-form-container {
  background-color: #f8f7f9;
  font-family: "Source Sans Pro", sans-serif;
  color: #2b2d42; }

#upload-form {
  padding-right: 32px; }

#work-form {
  padding-right: 32px; }

.teamwork {
  padding-top: 46px;
  padding-bottom: 32px; }

@media screen and (max-width: 768px) {
  .teamwork {
    display: none; } }

#teamwork-img {
  height: 300px;
  width: 300px; }

.form-container--rounded {
  border-radius: 4px; }

.sections-carousel {
  padding-top: 16px;
  padding-bottom: 16px; }

.carousel-inner {
  width: 100%;
  max-height: 200px !important; }

header {
  grid-area: header;
  position: sticky;
  top: 0;
  background-color: #2b2d42;
  box-shadow: 0px 1px 10px 1px #f8f7f9; }

.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #f8f7f9;
  padding: 16px; }

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.logoImg {
  height: 40px;
  width: 40px;
  transition: transform 0.3s ease-in-out; }

.logoImg:hover {
  transform: rotateZ(360deg) scale(1.4); }

.logoTitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600; }

.logoTitle a {
  text-decoration: none; }

nav {
  flex-grow: 1;
  padding-left: 24px; }

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px; }

.sectionTitle {
  color: #f8f7f9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 400; }

.navList {
  list-style: none;
  font-size: 0;
  width: 500px; }

.navList a:hover {
  text-decoration: underline; }

.navListItem {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 20px;
  font-weight: 400; }

.navListItem--unselected {
  text-decoration: none; }

.logOutIcon {
  width: 40px;
  padding-left: 8px;
  padding-top: 2px; }

.logOutIcon img {
  height: 25px;
  width: 25px;
  transition: transform 0.2s ease-in-out; }

.logOutIcon img:hover {
  transform: scale(1.3); }

.userIcon {
  width: 40px; }
  .userIcon img {
    height: 40px;
    width: 40px;
    transition: transform 0.2s ease-in-out; }
  .userIcon img:hover {
    transform: scale(1.3); }

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 2px solid #f8f7f9;
  margin-bottom: 0px; }

.navSeparator {
  height: 16px;
  border-bottom: 2px solid #f8f7f9;
  box-shadow: 0px 1px 10px -1px #f8f7f9; }

.memeTag {
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  text-align: center;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 7px;
  margin-top: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  transition: transform 0.2s ease-in-out;
  text-decoration: none; }
  .memeTag a {
    text-decoration: none; }

.memeTag--defaultTag {
  border-color: #f8f7f9;
  color: #f8f7f9;
  background-color: #2b2d42; }

.memeTag--defaultTag:hover {
  background-color: #f8f7f9;
  color: #2b2d42; }

.memeTag--lightTag {
  border-color: #2b2d42;
  color: #2b2d42;
  background-color: #f8f7f9; }

.memeTag--lightTag:hover {
  background-color: #2b2d42;
  color: #f8f7f9; }

.memeTag:hover {
  text-decoration: none; }

.memeTag:active {
  transform: scale(0.9);
  text-decoration: none; }

.standardText {
  color: #f8f7f9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-style: normal; }

.formItem {
  color: #f8f7f9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-style: normal; }

.formItem--dark {
  color: #2b2d42; }

main {
  grid-area: main;
  z-index: -1;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 40px;
  padding-bottom: 16px; }

.memeContainer__category {
  display: flex;
  align-items: center;
  padding-bottom: 4px; }

.categoryImg {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: transform .2s; }

.categoryImg:hover {
  transform: scale(1.5); }

.categoryTitle {
  color: #f8f7f9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: lighter;
  text-decoration: none;
  padding-left: 5px; }

.memeContainer {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 2px solid #f8f7f9; }

.uploaded-meme {
  padding-top: 32px;
  padding-bottom: 32px; }

#work-with-us-img {
  width: 100px;
  height: 100px; }

@media screen and (min-width: 500px) {
  #work-with-us-img {
    width: 210px;
    height: 210px; } }

@media screen and (min-width: 939px) {
  #work-with-us-img {
    width: 410px;
    height: 410px; } }

/*
.uploaded-meme {
    display: none;
}
*/
.memeSeparator {
  margin-bottom: 8px;
  border-width: 2px;
  border-color: #f8f7f9; }

.memeImage {
  width: 210px;
  height: 210px; }

@media screen and (min-width: 500px) {
  .memeImage {
    width: 420px;
    height: 420px; } }

.memePoints {
  color: #f8f7f9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: bolder; }

.memeContainer__title {
  padding-bottom: 8px; }

.memeContainer__memeComments {
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px; }

.memeComment {
  color: #f8f7f9;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: lighter;
  padding-left: 5px;
  text-decoration: none; }

.memeCommentIcon {
  width: 16px;
  height: 16px; }

.memePointerContainer {
  display: inline-block; }

.memeContainer__meme {
  position: relative; }

.memePointer {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: calc(50% - 30px);
  height: 100px;
  padding-left: 12px; }

.memePointerUp {
  width: 16px;
  height: 16px;
  padding-bottom: 5px; }

.memePointerDown {
  padding-top: 5px;
  width: 16px;
  height: 16px; }

footer {
  grid-area: footer;
  padding-left: 16px;
  padding-right: 16px; }
